.fw-accordion {
    border: 1px solid #cfcfcf;
    clear: both;
}

.fw-accordion .fw-accordion-title {
    position: relative;
    font-size: 15px;
    font-weight: bold;
    color: #333333;
    background: #f2f2f2;
    padding: 15px 40px;
    margin: 0;
    cursor: pointer;
    border-top: 1px solid #cfcfcf;
}

.fw-accordion .fw-accordion-title:focus {
    outline: medium none;
}

.fw-accordion .fw-accordion-title:first-child {
    border-top: none;
}

.fw-accordion .fw-accordion-title.ui-state-active {
    background: none;
}

.fw-accordion .fw-accordion-title .ui-icon {
    background: url("../img/plus-accordion.png") no-repeat;
    position: absolute;
    top: 20px;
    left: 15px;
    width: 8px;
    height: 8px;
}

.fw-accordion .fw-accordion-title.ui-state-active .ui-icon {
    background: url("../img/minus-accordion.png") no-repeat;
    top: 22px;
}

.fw-accordion .fw-accordion-content {
    padding: 0;
}

.fw-accordion .fw-accordion-content > p {
    padding: 0 30px 20px 30px;
}

.fw-accordion .fw-accordion-content p:last-child {
    margin-bottom: 0;
}

.accordion__services-list {
    padding-left: 50px;
}