body {
  //padding-top: 55px;
}

html,
body,
#page,
#main {
  display: block;
  width: 100%;
}

body {
  position: relative;
  height: 100vh;
  overflow-y: scroll;
}

#page {
  //padding-top: 55px;
}

article.type-page,
article.type-post {
  > .article-header {
    padding-top: 55px;
  }
}

#main {
  min-height: 85vh;
}

a {
  transition: color .2s ease-out;
  &:hover {
    text-decoration: none;
  }
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  text-transform: inherit
}

img {
  max-width: 100%;
  height: auto;
}