/*
Theme Name: Extrarchstudio
Theme URI:
Version: 1.0.0
Author: Wordpress-rockstar
Author URI: http://wordpress-rockstar.com/
License: GNU General Public License v2 or later
Text Domain: eastudio
*/
@import "variables/variables";
@import "mixins/mixins";
@import "base";
@import "wp-core";
@import "typography/typography";
@import "helpers";

.custom-logo-link img {
  max-width: 350px;
  height: auto;
}

.parallax-window {
  min-height: 400px;
  background: transparent;
}

.title-img__wrapper {
  position: relative;
  width: 100%;
  height: auto;
  max-height: 500px;
  overflow: hidden;
  picture {
    display: block;
    //width: 100%;
    height: auto;
    img {
      width: 100%;
      height: auto;
    }
  }
  .title__wrapper,
  .article-header {
    position: absolute;
    top: 50%;
    width: 100%;
    margin-top: 0 !important;
  }
}

.article-content {
  padding-top: 50px;
}

article.article__full {
  &.type-post {
    .article-header {
      width: 100%;
      text-align: center;
      margin-top: 55px;
      h1 {
        font-size: 4rem;
      }
    }
    .article-content {
      padding-top: 3rem;
      img.size-full {
        max-width: 100%;
        height: auto;
      }
    }

  }
}

article.blog__item-masonry {
  margin-bottom: 36px;
  .post-preview__title {
    font-size: 18px;
    font-weight: 700;
    color: #121212;
    a {
      transition: color .2s ease-out;
    }
    &:hover a {
      color: #3a6ee8;
    }
  }
  .img_wrapper {
    width: 100%;
    margin-bottom: 23px;
    max-height: 200px;
    overflow: hidden;
    img {
      max-width: 100%;
      height: auto;
    }
  }
  .article-meta {
    font-size: 14px;
    font-weight: 700;
    span {
      text-transform: capitalize;
      color: #3a6ee8;
    }
  }
  a.post-preview__link {
    display: inline-block;
    border: 0;
    height: 41px;
    line-height: 41px;
    font-size: 13px;
    padding: 0;
    font-weight: 700;
    color: #3a6ee8;
    outline-style: none;
    text-transform: uppercase;
    text-decoration: none;
    vertical-align: baseline;
    span {
      font-size: inherit;
      display: inline-block;

      position: relative;
      &:after {
        content: "\f178";
        font-family: fontawesome, sans-serif;
        padding-left: 3px;
        position: absolute;
        right: -20px;
        top: 0;
        transition: right .25s ease-out;
      }
      &:after:hover {
        right: 25px;
      }
    }
    &:hover {
      span:after {
        right: -25px;
      }
    }
  }
}

#wrapper-footer {
  padding-top: 50px;
}

.articles-readmore + [data-readmore-toggle],
.articles-readmore[data-readmore] {
  margin-top: 30px;
}

#front-main-slider {
  .owl-item {
    div {
      position: relative;
      height: 100vh;
      max-height: 700px;
      overflow: hidden;
      img {
        position: absolute;
        top: -100%;
        bottom: -100%;
        left: 0;
        right: 0;
        margin: auto;
      }
    }
  }
}

.front-main-slider__wrapper {
  position: relative;
}

.front-main-slider__hold {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  z-index: 100;
  .front-main-slider--content {
    display: block;
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    h1 {
      margin-bottom: 30px;
    }
    p,
    a {
      color: white;
      &:hover {
        color: inherit;
      }
    }
    a.scroll-down {
      position: relative;
      top: 0;
      transition: top 0.5s;
      &:hover {
        top: 15px;
      }
    }
    .slider__content--right {
      position: absolute;
      right: 50px;
      top: 50%;
      transform: translateY(-50%);
      background-color: rgba(0, 0, 0, 0.5);
      ul {
        margin: 0;
        padding: 20px;
        list-style: none;
        text-align: left;
        text-transform: uppercase;
        li {
          &:before {
            content: '\f05d';
            font-family: fontawesome;
            margin-right: 5px;
          }
        }
      }

    }
  }
}

.slider__logo {
  max-width: 400px;
  margin-bottom: 30px;
}

#myCanvasContainer {
  overflow: hidden;

}

#myCanvas {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 300px;
}

#tags {
  display: none;
}

.comp-img {
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: right;
}
