.portfolio__item--masonry {
    padding: 0;
    width: 100%;
    height: 200px;
}

.portfolio__item--masonry:hover .portfolio__info--wrapper--masonry {
    opacity: 1;
}

.portfolio__item--masonry:hover .portfolio__info--masonry {
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.portfolio__picture--wrapper--masonry {
    width: 100%;
    height: 100%;
    overflow: hidden;

}

.portfolio__picture--wrapper--masonry picture {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.portfolio__picture--wrapper--masonry img {
    min-height: 200px;
    width: 100%;
    position: absolute;
    top:-100%; left:0; right: 0; bottom:-100%;
    margin: auto;
}

.portfolio__info--wrapper--masonry {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(26, 26, 26, 0.75);
    opacity: 0;
    transition: opacity .2s ease-out;
}

.portfolio__info--masonry {
    position: absolute;
    top: 50%;
    width: 100%;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    padding-left: 15px;
    padding-right: 15px;
    color: white;
    text-align: center;
    transition: -webkit-transform .2s ease-out;
    transition: transform .2s ease-out;
    transition: transform .2s ease-out, -webkit-transform .2s ease-out;
}

.portfolio__info--masonry h4 {
    font-weight: 700;
}

.portfolio__info--masonry p {
    font-size: 13px;
}

.portfolio__link--masonry {
    display: block;
    height: 100%;
    width: 100%;
}

#infinitescroll-on_scroll {
    visibility: hidden;
    width: 1px;
    height: 1px;
}

