.fw-post-item h3 {
    margin-top: 15px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.fw-post-item h3 a {
    color: inherit;
}

.fw-post-item h3 a:hover {
    color: gray;
}

.fw-post-item > a:hover + h3 > a{
    color: gray;
}

.fw-post-item picture {
    position: relative;
    display: block;
    height: 200px;
    overflow: hidden;
}

.fw-post-item picture img {
    width: 100%;
    height: 100%;
}