.team__item {
	position: relative;
	overflow: hidden;
	margin-bottom: 25px;
}

.team__item:hover .team--overlay {
	opacity: 0.15;
}

.team__item:hover .team--triangle {
	-webkit-transform: rotate(-45deg) translate(0);
	        transform: rotate(-45deg) translate(0);
}

.team__picture--wrapper {
	position: relative;
	overflow: hidden;
	margin-bottom: 25px;
}

.team__info span {
	display: block;
}

.team__name {
	font-weight: bold;
	margin-bottom: 15px;
}

.team--overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #afafaf;
	opacity: 0;
	transition: opacity .3s ease-out;
}

.team--triangle {
	position: absolute;
	top: -31px;
	right: -31px;
	display: block;
	width: 50px;
	height: 50px;
	content: '';
	background-color: #f5f8fe;
	opacity: .5;
	z-index: 9;
	-webkit-transform: rotate(-45deg) translate(15px);
	        transform: rotate(-45deg) translate(15px);
	transition: -webkit-transform .25s ease-out;
	transition: transform .25s ease-out;
	transition: transform .25s ease-out, -webkit-transform .25s ease-out;
}