.portfolio__item {
    position: relative;
    padding: 0;
    width: 100%;
    height: 100%;
}

.portfolio__item:hover .portfolio__info--wrapper {
    opacity: 1;
}

.portfolio__item:hover .portfolio__info {
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.portfolio__picture--wrapper {
    width: 100%;
    height: 100%;
}

.portfolio__picture--wrapper picture, .portfolio__picture--wrapper img {
    width: 100%;
    height: 100%;
}

.portfolio__info--wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(26, 26, 26, 0.75);
    opacity: 0;
    transition: opacity .2s ease-out;
}

.portfolio__info {
    position: absolute;
    top: 50%;
    width: 100%;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    padding-left: 15px;
    padding-right: 15px;
    color: white;
    text-align: center;
    transition: -webkit-transform .2s ease-out;
    transition: transform .2s ease-out;
    transition: transform .2s ease-out, -webkit-transform .2s ease-out;
}

.portfolio__info h4 {
    font-weight: 700;
}

.portfolio__info p {
    font-size: 13px;
}

.portfolio__link {
    display: block;
    height: 100%;
    width: 100%;
}